/**
 *
 * Module: HTML/CSS
 * Lesson: 1
 * 
 */

:root {
  --grey-dark: #292b2c;
  --grey-light: #e4e4e4;
  --orange-dark: #c05326;
  --orange-light: #f7eae4;
  --white: #fff;
}

body {
  margin: 0;
}

body,
button {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: var(--grey-dark);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.header,
.content,
.footer {
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.header__logo {
  max-height: 90px;
  width: auto;
}

/* Navigation */

.navigation__list {
  display: flex;
  list-style: none;
}

.navigation__item {
  padding: 0.5rem 0;
  margin: 1rem;
  font-size: 1rem;
  color: #f3f2f2;
}

.navigation__link {
  color: var(--grey-dark);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

/* Text styles */

.text-highlight {
  color: var(--orange-dark);
  font-weight: 600;
}

.arrow-right {
  display: inline-block;
  height: 0;
  width: 0;
  border: 6px solid var(--white);
  border-left-color: var(--orange-dark);
}

/* Buttons */

/* INSERT BUTTON STYLES HERE */

/* Content */

.content {
  display: flex;
  flex-direction: column;
}
/*button */
.donate {
  background-color: #c05326;
  color: #e0e7eb;
  border: 3px solid rgb(173, 38, 38);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  margin-left: 15%;
  bottom: 50px;
  position: relative;
}
.donate:hover {
  color: #353131;
}
.donate1 {
  background-color: #c05326;
  color: #e0e7eb;
  border: 3px solid rgb(173, 38, 38);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  margin-left: 5px;
}
.donate1:hover {
  color: #353131;
}

.volunteer {
  background-color: #dfe1e2;
  color: #f84f07;
  border: 3px solid black;
  border-radius: 6px;
  position: relative;
  margin-left: 3%;
  bottom: 50px;
  transform: translate(-50%, -50%);
}
.volunteer:hover {
  color: #244c6b;
}

/* Alert */

.alert {
  background-color: var(--orange-light);
  border-left: 4px solid var(--orange-dark);
  border-radius: 4px;
  font-size: 0.85rem;
  line-height: 1.3;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}

/* hero */

.hero {
  background-image: url("header-bike.jpg");
  position: relative;
  width: 100%;
  height: auto;
}

.hero h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  padding-bottom: 50%;
  padding-left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: rgb(224, 219, 219);
}

.hero p {
  font-size: 20px;
  margin-bottom: 2rem;
  position: absolute;
  left: 16rem;
  transform: translate(-50%, -50%);
  color: rgb(252, 252, 252);
  padding-bottom: 30%;
}

/* Headings */

.heading-underline {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--orange-light);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 25%;
  height: 2px;
  max-width: 100px;
  background: var(--orange-dark);
}

/* Article */

.article {
  margin-bottom: 1rem;
  border: 2px solid black;
}

.article__title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.article__title-link {
  text-decoration: none;
  color: var(--orange-dark);
}

.article__summary {
  margin-top: 0;
  margin-bottom: 1rem;
}

.article__thumbnail {
  object-fit: contain;
  width: 5rem;
}

.article__read-more {
  margin-top: 0;
}

.article__read-more a {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--orange-dark);
  text-decoration: none;
}

.article__read-more a:hover,
.article__read-more a:focus {
  text-decoration: underline;
}

.fa {
  margin-right: 0.5rem;
  color: var(--orange-dark);
}

.facebook-link {
  color: var(--orange-dark);
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

/* Footer */

.footer {
  margin-top: 2rem;
}

.footer__content {
  border-top: 2px solid var(--orange-light);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer p {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.85rem;
}

/* Media queries */

@media screen and (min-width: 992px) {
  .content {
    flex-direction: row;
  }

  .main {
    padding-right: 2rem;
  }
}
